// === CONTACTS ===
.contacts {
  background-color: $color-white;

  // .contacts__container
  &__container {
    padding-top: 53px;
    padding-bottom: 50px;
  }

  // .contacts__title
  &__title {
    margin: 0 0 var(--primary-indent);
  }

  // .contacts__list
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;
    padding: 15px 0 var(--primary-indent);
  }

  // .contacts__descr
  &__descr {
    margin: 0 0 var(--primary-indent);
  }

  // --- MEDIA ---
  @include tablet(min) {
    // .contacts__container
    &__container {
      display: grid;
      grid-template-columns: 1fr 542px;
      grid-template-areas:
        ". title"
        "workers descr"
        "workers form";
      align-items: start;
      column-gap: 104px;
    }

    // .contacts__title
    &__title {
      grid-area: title;
    }

    // .contacts__descr
    &__descr {
      grid-area: descr;
    }

    // .contacts__list
    &__list {
      grid-area: workers;
    }
  }

  // --- MEDIA ---
  @include tablet(max) {
    --size: 244px;

    // .contacts__container
    &__container {
      padding-top: 42px;
      padding-bottom: 15px;
    }

    // .contacts__list
    &__list {
      justify-content: center;
      padding-top: 8px;
    }
  }
}
