// === CONTACTS-FORM ===
.contacts-form {
  display: flex;
  flex-direction: column;

  // .contacts-form__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 20px 0;
    margin-bottom: 13px;

    > * {
      grid-column: 2 span;
    }
  }

  .btn {
    align-self: center;
    margin-top: 17px;
  }

  // --- MEDIA ---
  @include tablet(min) {
    grid-area: form;

    // .contacts-form__items
    &__items {
      gap: 24px 48px;
    }

    // .contacts-form__country
    &__country {
      grid-column: 1;
    }

    // .contacts-form__gender
    &__gender {
      grid-column: 2;
    }

    .btn {
      align-self: start;
      margin-top: 30px;
    }
  }
}
