// === PERSON-SOCIAL ===
.person-social {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 12px;
  border-radius: var(--secondary-radius);
  padding: 8px 16px;
  background-color: $color-tundora-rgba;
  transition:
    opacity var(--primary-animation),
    visibility var(--primary-animation);

  // .person-social__link
  &__link {
    --image-size: 20px;

    display: block;

    svg {
      display: block;
      width: var(--image-size);
      height: var(--image-size);
      fill: $color-white;
      object-fit: cover;
      transition: fill var(--primary-animation);
    }

    // >>> .person-social__link:hover
    &:hover {
      svg {
        fill: $color-dusty-gray;
      }
    }
  }

  // --- MEDIA ---
  @include tablet(max) {
    gap: 15px 30px;

    // .person-social__link
    &__link {
      --image-size: 30px;
    }
  }
}
