// === CUSTOM-RADIO ===
.custom-radio {
  --radio-size: 24px;

  position: relative;
  display: inline-block;
  cursor: pointer;

  // .custom-radio__item
  &__item {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    border: 1px solid $color-governor-bay;
    border-radius: 100%;
    width: var(--radio-size);
    height: var(--radio-size);
    transform: translateY(-50%);
    transition: border-color var(--primary-animation);

    // .custom-radio__item::before
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      background-image: url("../images/icons/radio-checked.svg");
      @include image-cover(background);
      @include visibility(hidden);
      transition:
        opacity var(--primary-animation),
        visibility var(--primary-animation);
    }
  }

  // .custom-radio__value
  &__value {
    display: block;
    margin: 0;
    padding-left: 29px;
    font-size: 16px;
    line-height: 22px;
    color: $color-ebony-clay;
    transition: color var(--primary-animation);
  }

  // .custom-radio__input
  &__input {
    // .custom-radio__input:disabled
    &:disabled {
      ~ .custom-radio__item {
        border-color: $color-iron;
      }

      ~ .custom-radio__value {
        color: $color-iron;
      }
    }

    // .custom-radio__input:checked
    &:checked {
      ~ .custom-radio__item {
        border-color: $color-ebony-clay;

        // .custom-radio__item::before
        &::before {
          @include visibility(visible);
        }
      }
    }

    // .custom-radio__input:focus
    &:focus {
      ~ .custom-radio__item {
        border-color: $color-ebony-clay;

        // .custom-radio__item::before
        &::before {
          opacity: 0.2;
          visibility: visible;
        }
      }
    }

    // .custom-radio__input:not(:disabled):hover
    &:not(:disabled):hover {
      ~ .custom-radio__item {
        border-color: $color-ebony-clay;

        // .custom-radio__item::before
        &::before {
          opacity: 0.2;
          visibility: visible;
        }
      }
    }

    // .custom-radio__input:disabled:checked
    &:disabled:checked {
      ~ .custom-radio__item {
        border-color: $color-iron;

        // .custom-radio__item::before
        &::before {
          opacity: 0.2;
          visibility: visible;
        }
      }

      ~ .custom-radio__value {
        color: $color-iron;
      }
    }
  }
}
