// === CUSTOM-CHECKBOX ===
.custom-checkbox {
  --size: 24px;

  position: relative;
  display: inline-block;
  cursor: pointer;

  // .custom-checkbox__item
  &__item {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    border: 1px solid $color-iron;
    border-radius: var(--primary-radius);
    width: var(--size);
    height: var(--size);
    background: $color-wild-sand;
    transform: translateY(-50%);
    transition: border-color var(--primary-animation);

    // .custom-checkbox__item::before
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: var(--size);
      height: var(--size);
      transform: translate(-50%, -50%);
      background-image: url("../images/icons/checkbox-checked.svg");
      @include image-cover(second);
      @include visibility(hidden);
      transition:
        opacity var(--primary-animation),
        visibility var(--primary-animation);
    }
  }

  // .custom-checkbox__value
  &__value {
    display: block;
    margin: 0;
    padding-left: 29px;
    font-size: 12px;
    line-height: 17px;
    color: $color-scarpa-flow;
    transition: color var(--primary-animation);

    a {
      color: inherit;
      text-decoration: underline;
      text-decoration-color: currentColor;
      transition:
        color var(--primary-animation),
        text-decoration-color var(--primary-animation);

      // >>> a:focus
      // >>> a:hover
      &:focus,
      &:hover {
        color: $color-governor-bay;
      }
    }
  }

  // .custom-checkbox__input
  &__input {
    // >>> .custom-checkbox__input:disabled
    &:disabled {
      ~ .custom-checkbox__item {
        border-color: $color-iron;
      }

      ~ .custom-checkbox__value {
        color: $color-iron;
      }
    }

    // >>> .custom-checkbox__input:checked
    &:checked {
      ~ .custom-checkbox__item {
        border-color: $color-governor-bay;

        // .custom-checkbox__item::before
        &::before {
          @include visibility(visible);
        }
      }
    }

    // >>> .custom-checkbox__input:focus
    &:focus {
      ~ .custom-checkbox__item {
        border-color: $color-governor-bay;
      }
    }

    // >>> .custom-checkbox__input:focus:checked
    &:focus:checked {
      ~ .custom-checkbox__item {
        border-color: $color-governor-bay;

        // .custom-checkbox__item::before
        &::before {
          opacity: 0.2;
          visibility: visible;
        }
      }
    }

    // >>> .custom-checkbox__input:hover
    &:not(:disabled):hover {
      ~ .custom-checkbox__item {
        border-color: $color-governor-bay;

        // .custom-checkbox__item::before
        &::before {
          opacity: 0.2;
          visibility: visible;
        }
      }
    }

    // >>> .custom-checkbox__input:checked
    &:disabled:checked {
      ~ .custom-checkbox__item {
        border-color: $color-iron;

        // .custom-checkbox__item::before
        &::before {
          opacity: 0.2;
          visibility: visible;
        }
      }
    }
  }
}
