// === FORM-FIELD ===
.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "caption score"
    "input input";
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  // .form-field > * (first-item)
  > * {
    grid-area: input;
  }

  // .form-field__input
  &__input {
    border: 1px solid $color-iron;
    border-radius: var(--primary-radius);
    padding: 10px 10px 10px 16px;
    width: 100%;
    min-height: var(--form-field-height);
    background: $color-wild-sand;
    caret-color: $color-governor-bay;
    transition: border-color var(--primary-animation);

    // .form-field__input::placeholder
    &::placeholder {
      color: $color-dusty-gray;
    }

    // .form-field__input--big
    &--big {
      min-height: 98px;
      resize: vertical;
    }

    // >>> .form-field__input:disabled::placeholder
    &:disabled::placeholder {
      color: $color-iron;
    }

    // >>> .form-field__input:focus
    // >>> .form-field__input:hover
    &:focus,
    &:not(:disabled):hover {
      border-color: $color-governor-bay;
    }
  }

  // .form-field__caption
  &__caption {
    grid-area: caption;
    display: block;
    margin: 0;
    color: $color-scarpa-flow;
    min-height: 19px;

    // >>> .form-field__input:disabled .form-field__caption
    .form-field__input:disabled ~ & {
      color: $color-iron;
    }
  }

  // .form-field__score
  &__score {
    grid-area: score;
    justify-self: end;
    display: block;
    margin: 0;
    color: $color-scarpa-flow;
  }

  // .form-field__alert
  &__alert {
    grid-area: alert;
    display: none;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: $color-mandy;
  }

  // >>> .form-field error
  &.error {
    grid-template-areas:
    "caption score"
    "input input"
    "alert alert";

    .form-field {
      // .form-field__input
      &__input {
        border-color: $color-mandy;
      }

      // .form-field__score
      &__score {
        color: $color-mandy;
      }

      // .form-field__alert
      &__alert {
        display: block;
      }
    }
  }
}
