// === FORM-FIELD ===
.form-field {
  --min-height: 44px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "caption score"
    "input input";
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  // .form-field > * (first-item)
  & > * {
    grid-area: input;
  }

  // .form-field__row
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    min-height: var(--min-height);
  }

  // .form-field__input
  &__input {
    border: 1px solid $color-iron;
    border-radius: var(--primary-radius);
    padding: 10px 10px 10px 16px;
    width: 100%;
    min-height: var(--min-height);
    background: $color-wild-sand;
    caret-color: $color-governor-bay;
    transition: border-color var(--primary-animation);

    // .form-field__input::placeholder
    &::placeholder {
      color: $color-dusty-gray;
    }

    // .form-field__input
    .form-field--big & {
      min-height: 98px;
      resize: vertical;
    }

    // form-field__input--drop
    &--drop {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      color: $color-ebony-clay;
      background-image: url("../images/icons/dropdown-arrow.svg");
      background-size: 24px;
      background-position: right 10px center;
      background-repeat: no-repeat;

      // ~ option[value=''] {
      //   color: $color-dusty-gray;
      // }

      // >>> form-field__input--dropdown:disabled
      &:disabled {
        color: $color-iron;
      }
    }

    // >>> .form-field__input:disabled::placeholder
    &:disabled::placeholder {
      color: $color-iron;
    }

    // >>> .form-field__input:focus
    // >>> .form-field__input:hover
    &:focus,
    &:not(:disabled):hover {
      border-color: $color-governor-bay;
    }
  }

  // .form-field__caption
  &__caption {
    grid-area: caption;
    display: block;
    margin: 0;
    color: $color-scarpa-flow;
    min-height: 19px;

    // >>> .form-field__input:disabled .form-field__caption
    .form-field__input:disabled ~ & {
      color: $color-iron;
    }
  }

  // .form-field__score
  &__score {
    grid-area: score;
    justify-self: end;
    display: block;
    margin: 0;
    color: $color-scarpa-flow;
  }

  // .form-field__alert
  &__alert {
    grid-area: alert;
    display: none;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: $color-mandy;
  }

  // >>> .form-field error
  &.error {
    grid-template-areas:
    "caption score"
    "input input"
    "alert alert";

    .form-field {
      // .form-field__input
      &__input {
        border-color: $color-mandy;
      }

      // .form-field__score
      &__score {
        color: $color-mandy;
      }

      // .form-field__alert
      &__alert {
        display: block;
      }
    }

    .custom-radio {
      // .custom-radio__item
      &__item {
        border-color: $color-mandy;
      }
    }

    .custom-checkbox {
      // .custom-checkbox__item
      &__item {
        border-color: $color-mandy;
      }
    }
  }

  // .form-field[data-caption='undefined']
  &[data-caption='undefined'] {
    grid-template-areas: "input input";

    .form-field__caption {
      display: none;
    }

    // >>> .form-field[data-caption='undefined'] error
    &.error {
      grid-template-areas:
      "input input"
      "alert alert";
    }
  }

  // .form-field[data-caption='invisible']
  &[data-caption='invisible'] {
    .form-field__caption {
      @include visibility(hidden);
    }

    // --- MEDIA ---
    @include tablet(max) {
      grid-template-areas: "input input";

      .form-field__caption {
        display: none;
      }

      // >>> .form-field[data-caption='undefined'] error
      &.error {
        grid-template-areas:
        "input input"
        "alert alert";
      }
    }
  }
}
