// === BLOG ===
.blog {
  background-color: $color-white;

  // .blog__container
  &__container {
    display: grid;
    grid-template-areas:
      "title btn"
      "cards cards";
    align-items: center;
    row-gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;

    .btn {
      grid-area: btn;
      justify-self: end;
    }
  }

  // .blog__title
  &__title {
    grid-area: title;
    margin: 0;
  }

  // .blog-slider
  &-slider {
    grid-area: cards;
    width: 100%;
  }

  // .blog__list
  // &__list {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //   gap: 30px;
  // }

  // --- MEDIA ---
  @include tablet(min) {
    // .blog-slider
    &-slider {
      // .blog-slider__pagi
      &__pagi {
        display: none !important; // swiper.js
      }
    }

    // .blog__list
    &__list {
      display: grid !important; // swiper.js
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      gap: 60px 40px;
    }

    // .blog__item
    &__item {
      grid-column: 4 span;

      // .blog__item:first-child
      &:first-child {
        grid-column: 1 / 13;
      }
    }
  }

  // --- MEDIA ---
  @include tablet(max) {
    // .blog__container
    &__container {
      grid-template-areas:
        "title"
        "cards"
        "btn";
      align-items: normal;
      row-gap: 30px;
      padding-top: 20px;
      padding-bottom: 30px;

        .btn {
          justify-self: center;
        }
      }

    // .blog-slider
    &-slider {
      position: relative; // swiper.js
      padding-bottom: 38px !important; // swiper.js

      // .blog-slider__pagi
      &__pagi {
        position: absolute; // swiper.js
        bottom: 0 !important; // swiper.js
        left: 50% !important; // swiper.js
        transform: translateX(-50%) !important; // swiper.js
      }
    }
  }
}
