// === COINS ===
.coins {
  background-color: $color-white;

  // .coins__container
  &__container {
    padding-top: 178px;
    padding-bottom: 54px;
  }

  // .coins__title
  &__title {
    margin: 0 0 var(--primary-indent);
  }

  // .coins__descr
  &__descr {
    margin: 0 0 54px;
  }

  // .coins__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .btn {
      display: none;
    }
  }

  // .coins__list
  &__list {
    --card-width: 245px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    align-items: center;
    gap: 23px 15px;
  }

  // .coins__item
  &__item {
    // .coins__item-more
    &-more {
      display: inline-block;
      border: 1px dashed $color-dusty-gray;
      border-radius: var(--secondary-radius);
      padding: 8px 16px;
      text-align: center;
      color: $color-ebony-clay;
      transition:
        border-color var(--primary-animation),
        color var(--primary-animation),
        background var(--primary-animation);

        // >>> .coins__item-more:focus
        // >>> .coins__item-more:hover
        &:focus,
        &:not(:disabled):hover {
          border-color: transparent;
          color: $color-white;
          background: $color-cornflower-blue;
        }
    }
  }

  // --- MEDIA ---
  @include tablet(max) {
    &__container {
      padding-top: 70px;
      padding-bottom: 25px;
    }

    // .coins__descr
    &__descr {
      margin-bottom: 26px;
    }

    // .coins__list
    &__list {
      --card-width: 200px;

      gap: 13px 5px;
    }
  }

  // --- MEDIA ---
  @include minitablet(max) {
    // .coins__content
    &__content {
      .btn {
        align-self: center;
        display: inherit;
        margin-top: 27px;
      }
    }

    // .coins__list
    &__list {
      --card-width: 175px;

      // .coins__list:not(.opened)
      &:not(.opened) {
        .coins__item:not(:nth-child(-n+10)) {
          display: none;
        }
      }
    }
  }

  // --- MEDIA ---
  @include mobile(max) {
    // .coins__list
    &__list {
      --card-width: 150px;
    }
  }
}
