// === COINS-CARD ===
.coins-card {
  --image-size: 30px;

  display: grid;
  grid-template-columns: var(--image-size) auto 1fr;
  align-items: center;
  gap: 8px;
  border-radius: var(--secondary-radius);
  padding: 12px 15px;
  transition: background-color var(--primary-animation);

  // .coins-card__image
  &__image {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
  }

  // .coins-card__abbr
  &__abbr {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $color-ebony-clay;
    transition: color var(--primary-animation);
  }

  // .coins-card__name
  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-dusty-gray;
    transition: color var(--primary-animation);
  }

  // >>> .coins-card:hover
  // >>> .coins-card:focus
  &:hover,
  &:focus {
    background-color: $color-wild-sand;
  }

  // --- MEDIA ---
  @include tablet(max) {
    --image-size: 40px;

    grid-template-columns: var(--image-size) 1fr;
    grid-template-areas:
      "image abbr"
      "image name";
    row-gap: 0;
    padding: 6px 8px;

    // .coins-card__image
    &__image {
      grid-area: image;
    }

    // .coins-card__abbr
    &__abbr {
      grid-area: abbr;
      margin-bottom: 2px;
    }

    // .coins-card__name
    &__name {
      grid-area: name;
    }
  }
}
