// === IMAGE-COVER ===
@mixin image-cover($set) {
  @if $set == first {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } @else if $set == second {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
