// === LOCATION-LINK ===
.location-link {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px 6px;
  grid-template-areas:
    "icon city"
    "address address";
  align-items: center;
  color: $color-dusty-gray;

  // .location-link__icon
  &__icon {
    grid-area: icon;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
      object-fit: cover;
      transition: fill var(--primary-animation);
    }
  }

  // .location-link__city
  &__city {
    grid-area: city;
    margin: 0;
    color: currentColor;
    transition: color var(--primary-animation);
  }

  // .location-link__address
  &__address {
    grid-area: address;
    margin: 0;
    font-style: normal;
    color: currentColor;
  }

  // >>> .location-link--active
  // >>> .location-link:hover
  // >>> .location-link:focus
  &--active,
  &:hover,
  &:focus {
    .location-link__icon {
      svg {
        fill: $color-governor-bay;
      }
    }

    .location-link__city {
      color: $color-ebony-clay;
    }
  }
}
