// === LOCATION-POINT ===
.location-point {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px 6px;
  grid-template-areas:
    "icon city"
    "address address";
  align-items: center;
  border: 0;
  padding: 0;
  text-align: left;
  color: $color-dusty-gray;
  background: transparent;
  cursor: pointer;

  // .location-point__icon
  &__icon {
    grid-area: icon;
    width: 20px;
    height: 20px;

    svg {
      @include image-cover(block);
      fill: currentColor;
      transition: fill var(--primary-animation);
    }
  }

  // .location-point__city
  &__city {
    grid-area: city;
    margin: 0;
    color: currentColor;
    transition: color var(--primary-animation);
  }

  // .location-point__address
  &__address {
    grid-area: address;
    margin: 0;
    font-style: normal;
    color: currentColor;
  }

  // >>> .location-point active
  // >>> .location-point:hover
  // >>> .location-point:focus
  &.active,
  &:hover,
  &:focus {
    .location-point__icon {
      svg {
        fill: $color-governor-bay;
      }
    }

    .location-point__city {
      color: $color-ebony-clay;
    }
  }
}
