// === OFFER ===
.offer {
  background-color: $color-white;

  // .offer__container
  &__container {
    padding-top: 25px;
    padding-bottom: 103px;
  }

  // --- MEDIA ---
  @include minitablet(max) {
    // .offer__container
    &__container {
      padding: 0 0 60px;
    }
  }
}
