// === FOOTER ===
.footer {
  background-color: $color-ebony-clay;

  // .footer__container
  &__container {
    padding-top: 80px;
    padding-bottom: 92px;
  }

  // .footer-column-title
  &-column-title {
    margin: 0 0 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-white;
  }

  // .footer__top
  &__top {
    display: grid;
    margin-bottom: 40px;

    // --- MEDIA ---
    @include tablet(min) {
      grid-template-columns: repeat(10, 1fr);
      column-gap: var(--grid-gap);
      grid-template-areas:
        "follow menu language"
        "support . ."
        "social contacts .";
      margin: 0 auto 37px;
      padding-left: 14px;
      max-width: 1064px;
    }
  }

  // .footer__bottom
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    border-top: 1px solid $border;
    padding-top: 40px;
    text-align: center;
  }

  // .footer__descr
  &__descr {
    margin: 0;
    max-width: 609px;
    text-align: center;
  }

  // .footer__copyright
  &__copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $color-dusty-gray;

    a {
      color: $color-white;
    }
  }

  // --- MEDIA ---
  @include tablet(max) {
    // .footer__container
    &__container {
      padding-top: 38px;
      padding-bottom: 16px;
    }

    // .footer__top
    &__top {
      justify-items: center;
      row-gap: 30px;
      margin-bottom: 24px;
      text-align: center;
    }

    // .footer__bottom
    &__bottom {
      padding-top: 24px;
    }
  }
}
