// === HEADER ===
.header {
  background-color: $color-ebony-clay;
  border-bottom: 1px solid $border;

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 22px;
  }

  // .header__nav
  &__nav {
    margin-left: 20px;

    .menu-btn {
      display: none;
    }

    // --- MEDIA ---
    @include minidesktop(min) {
      margin: 5px 0 0 165px;
    }
  }

  // .header__auth
  &__auth {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: auto;

    .btn {
      min-width: 124px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  // --- MEDIA ---
  @include tablet(max) {
    border-bottom: unset;

    // .header__container
    &__container {
      padding: 18px;
    }

    // .header__nav
    &__nav {
      order: -1;
      margin-left: 0;

      .menu-btn {
        display: flex;
        margin-right: 23px;

        // >>> .menu-btn active
        &.active {
          position: relative;
          z-index: 100;
        }
      }
    }

    // .header__auth
    &__auth {
      .btn {
        min-width: auto;

        // .btn:not(:first-child)
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}
