// === MENU-BTN ===
.menu-btn {
  --btn-size: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  border: 0;
  width: var(--btn-size);
  height: var(--btn-size);
  background: transparent;
  cursor: pointer;
  transition:
    width var(--primary-animation),
    height var(--primary-animation);

  span {
    display: block;
    border-radius: var(--primary-radius);
    width: 20px;
    height: 2px;
    background-color: $color-white;
    transition:
      width var(--primary-animation),
      opacity var(--primary-animation),
      visibility var(--primary-animation),
      transform var(--primary-animation);
  }

  // >>> .menu-btn active
  &.active {
    --btn-size: 44px;

    span {
      width: 32px;

      &:nth-of-type(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-of-type(2) {
        @include visibility(hidden);
      }

      &:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
