// === MENU ===
.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;

  // .menu__item
  &__item {
    // .menu__item:not(:last-child)
    &:not(:last-child) {
      margin-right: 33px;
    }
  }

  // .menu__link
  &__link {
    color: $color-dusty-gray;
  }

  // --- MEDIA ---
  @include tablet(max) {
    // burger menu
    overflow-y: auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
    padding: 40px 80px;
    width: 100%;
    height: 100vh;
    background-color: $color-ebony-clay;
    transform: translateX(-100%);
    @include visibility(hidden);
    transition:
      opacity var(--primary-animation),
      visibility var(--primary-animation),
      transform var(--primary-animation);

    // .menu__item
    &__item {
      // .menu__item:not(:last-child)
      &:not(:last-child) {
        margin: 0 0 24px;
      }
    }

    // .menu__link
    &__link {
      font-size: 26px;
      line-height: 34px;
      color: $color-white;
    }

    // >>> .menu visible
    &.visible {
      @include visibility(visible);
      transform: translateX(0%);
    }
  }
}
