<!-- === FOOTER === -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer-follow">
        <h2 class="footer-column-title">Follow Us</h2>
        <ul class="footer-follow__list">
          <li class="footer-follow__item">
            <a href="#" class="footer-follow__link" target="_blank" aria-label="Facebook">
              <svg>
                <use xlink:href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-follow__item">
            <a href="#" class="footer-follow__link" target="_blank" aria-label="Twitter">
              <svg>
                <use xlink:href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-follow__item">
            <a href="#" class="footer-follow__link" target="_blank" aria-label="Instagram">
              <svg>
                <use xlink:href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-follow__item">
            <a href="#" class="footer-follow__link" target="_blank" aria-label="Youtube">
              <svg>
                <use xlink:href="./images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <nav class="footer-menu">
        <h2 class="footer-column-title">Menu</h2>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Home</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Wallets</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Merchants</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">All transactions</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="footer-language">
        <h2 class="footer-column-title">Language</h2>
        <select class="dropdown-language" name="language">
          <option value="" disabled hidden>Choose a language</option>
          <option value="russian">Russian</option>
          <option value="english" selected>English</option>
        </select>
      </div>
      <div class="footer-support">
        <h2 class="footer-column-title">24/7 Support</h2>
      </div>
      <div class="footer-social">
        <div class="footer-social__image">
          <picture>
            <source srcset="./images/footer/footer-social.webp, ./images/footer/2x/footer-social@2x.jpeg 2x" type="image/webp">
            <img src="./images/footer/footer-social.jpeg" srcset="./images/footer/2x/footer-social@2x.jpeg 2x" alt="Footer author">
          </picture>
        </div>
        <h2 class="footer-social__title">Write to us</h2>
        <ul class="footer-social__list">
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank" aria-label="Telegram">
              <svg>
                <use xlink:href="./images/sprite.svg#circle-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank" aria-label="Mail">
              <svg>
                <use xlink:href="./images/sprite.svg#circle-mail"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social__item">
            <a href="#" class="footer-social__link" target="_blank" aria-label="Facebook">
              <svg>
                <use xlink:href="./images/sprite.svg#circle-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contacts">
        <ul class="footer-contacts__list">
          <li class="footer-contacts__item">
            <a href="mailto:allison_carder_@mail.com" class="footer-contacts__link footer-contacts__link--mail">Allison_Carder_@mail.com</a>
          </li>
          <li class="footer-contacts__item">
            <a href="tel:+79000000000" class="footer-contacts__link footer-contacts__link--tel">+ 7 (900) 000 0000</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__descr descr">
        Laborum exercitation non non nostrud non aliqua labore sit. Elit quis eu magna ex aliqua qui officia consectetur. Consectetur laboris fugiat dolore reprehenderit eiusmod officia. Sunt officia et nostrud cillum aliquip nostrud aliquip eiusmod est.
      </p>
      <a href="#" class="logo">
        <img class="logo__image" src="./images/logo.svg" alt="Wallet logo">
      </a>
      <small class="footer__copyright">© 2019 <a href="#">PayPay</a> - Premium WordPress news & magazine theme by <a href="#">PayPay</a></small>
    </div>
  </div>
</footer>
