@@if ('class' === '') {<label class="form-field">}
@@if ('class' !== '') {<label class="@@class form-field">}
  <select class="form-field__input form-field__input--drop" name="@@name">
      <option value="" hidden>Choose a value</option>
      <option value="@@options.1.name">@@options.1.text</option>
      <option value="@@options.2.name">@@options.2.text</option>
      <option value="@@options.3.name">@@options.3.text</option>
      <option value="@@options.4.name">@@options.4.text</option>
  </select>
  <span class="form-field__caption">@@title</span>
  <span class="form-field__alert"></span>
</label>
