// === ROOT ===
:root {
  // --- grid ---
  --grid-columns: 12;
  --grid-gap: 20px;

  // --- primary ---
  --primary-radius: 4px;
  --primary-animation: 0.3s ease-in-out;
  --primary-indent: 20px;

  // --- secondary ---
  --secondary-radius: 8px;

  // --- form-field ---
  --form-field-height: 44px;

  // --- typography ---
  --title-xxl-fz: 48px;
  --title-xxl-lh: 62px;

  --title-xl-fz: 40px;
  --title-xl-lh: 52px;

  --title-l-fz: 32px;
  --title-l-lh: 42px;

  --title-m-fz: 28px;
  --title-m-lh: 36px;

  --title-xs-fz: 20px;
  --title-xs-lh: 24px;

  --descr-xl-fz: 16px;
  --descr-xl-lh: 22px;
}

@include tablet(max) {
  :root {
    // --- primary ---
    --primary-indent: 24px;

    // --- typography ---
    --title-xxl-fz: 34px;
    --title-xxl-lh: 44px;

    --title-xl-fz: 28px;
    --title-xl-lh: 36px;

    --title-m-fz: 18px;
    --title-m-lh: 23px;

    --title-xs-fz: 18px;
    --title-xs-lh: 22px;

    --descr-xl-fz: 14px;
    --descr-xl-lh: 20px;
  }
}
