// === VARIABLES ===
// --- colors ---
$color-white: #fff;
$color-black: #000;
$color-ebony-clay: #25253e;
$color-dusty-gray: #9b9b9b;
$color-link-water: #d6d7f5;
$color-governor-bay: #3139ce;
$color-white-lilac: #f4f5fb;
$color-cornflower-blue: #6f75e5;
$color-storm-gray: #70707e;
$color-scarpa-flow: #545462;
$color-iron: #e1e1e4;
$color-mandy: #e35450;
$color-mercury-solid: #e5e5e5;
$color-wild-sand: #f6f6f6;
$color-tundora-rgba: rgba(72, 72, 72, 0.7);
$border: rgba(255, 255, 255, 0.2)
